@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    max-height: 100vh !important;
    overflow: hidden;
  }
}
@layer components {
  .form-control {
    @apply flex flex-col items-start px-3 py-1 border-[1px] border-[gray] rounded-2xl w-[100%];
  }
  .form-control input[type="text"],
  .form-control input[type="password"] {
    width: 100%;
    background: transparent;
    outline: none;
    border: 1px solid lightblue;
    border-radius: 16px;
    padding: 0 10px;
  }
}
